# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

NC_000909.fna
NC_000909.gbk
NC_000909.rnt

SequenceAlignment/bin
SequenceAlignment/obj
SequenceAlignment/packages
SequenceAlignment/.vs

ParameterEstimation/bin
ParameterEstimation/obj
ParameterEstimation/packages
ParameterEstimation/.vs
ParameterEstimation/binaries

Viterbi/bin
Viterbi/obj
Viterbi/packages
Viterbi/.vs
Viterbi/Binaries

RNAseq/glogg
RNAseq/GVimPortable
RNAseq/LogExpert_1_5_5493
RNAseq/glogg-latest-x86_64-setup.exe
RNAseq/GVim_Portable_7.1.0.exe
RNAseq/all.sam.gz
RNAseq/unaligned.fastq
RNAseq/unaligned.fastq.gz
RNAseq/polyA/bin
RNAseq/polyA/obj
RNAseq/polyA/packages
RNAseq/polyA/.vs
*.pdf
*.docx
*.zip
*.pptx
*.sam