<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="printprobabilitiesNRow" value="25" />
    <add key="InitializationType" value="Range" />
    <add key="TerminationType" value="Likelihood" />
  </appSettings>
</configuration>